body {
background-color:#dcfbef;		
}

#div1 {

min-height:700px;
border-bottom:#DEDEDE 1px solid;
background-color:#5F5F5F;
	
}
#div2 {

background-color:#dcfbef;	
border-right:#DEDEDE 1px solid;
	
}

#div3 {

min-height:100px; font-size:36px;
border-bottom:#DEDEDE 1px solid;
}

#div3 {

border-top:#DEDEDE 1px solid;
	
}
#div4 {
background-color:#dcfbef;	
border-top:#dcfbef 1px solid;
	
}
#div5 {

border-bottom:#DEDEDE 1px solid;
	
}
#div6 {

background-color:#F9F9F9;
	
}

#sonuc {

 min-height:650px;
}

#urunler {

border-left:#DEDEDE 1px solid;
background-color:#dcfbef;	
}

body {
	background-color:#FAFAFA;
	
}
#rows {
	min-height:30px;
	
}
#masa {	
	height:80px;
	margin:auto;
	font-size:35px;
	border-radius:2px;
	border:1px  #000  dashed;
}

#lin:link, #lin:visited {	
text-decoration:none;	
}

#ista {
margin:20px; padding:10px; border-radius:5px;	
}

.altrow {
	 background:#d2d2d2;
    
	height:80px;
	
}
.Sagcizgi  {
border-right:1px  #afaead  solid;	
	
	
}
.Solcizgi  {
border-left:1px  #afaead  solid;	
	
	
}
.icon1 {
font-size:2em; border-radius:10px;	
}
.icon2{
font-size:15px; margin-left:10px;
}
.icon3{
font-size:20px;
}